<%# cache product do %>
	<div class="col-sm-6 col-md-4">
  		<%= link_to image_tag(product.image_url,class: "img-responsive"), product_path(product) %>
  		<h3><%= product.name %></h3>
  			<% logger.debug "Product: #{product.name}" %>
  		<p><%= product.description %></p>
  		<p><%= product.colour %></p>
  		<strong><%= number_to_currency((product.price)/100) %></strong>
  		<p><%= image_tag("biketraces.jpg", class: "img_responsive biketraces") %></p>
	</div>
<%# end %>

